.cards {
    display: flex;
    flex-wrap: wrap;


}



.card {
      background: lightgreen;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 20px 20px darkgrey;
    border-radius: 6%;
    margin: 10px;
    flex-basis: 260px;
    flex-grow: 1;
}

.card img {
    width: 150px;
    border-radius: 6%;
}

.card h3{
    flex-grow: 1;
    padding-left: 20px;
    font-size: 18px;

}